**
!requirements.txt
!Dockerfile
!src/
!src/**
!ru_pii/
!ru_pii/**
!artifacts/
!artifacts/student-pii.pt
**/__pycache__/
!artifacts/rubert-tiny2-fine-tuning/
!artifacts/rubert-tiny2-fine-tuning/**
**/__pycache__/
